.input-task{
  display: flex;
  justify-content: center;
  margin: 2em;
  align-items: center;
}

#input-task{
  width: 42em;
  height: 3em;
  outline: none;
  padding: 1em;
  border: 2px solid rgba(34, 34, 34, 0.267);
  font-size: 0.9em;
  border-radius: 10px;
  -webkit-user-select:text;
  user-select: text;
}

#btn-submit{
  background-color: transparent;
  border: 0;
  margin: 0;
  color:#f06616;
}

#form-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}