.input-task{
  display: flex;
  justify-content: center;
  margin: 2em;
  align-items: center;
}

#input-task{
  width: 42em;
  height: 2.8em;
  padding: 1em;
  border: 2px solid rgba(34, 34, 34, 0.267);
  font-size: 0.9em;
  border-radius: 10px;
}

#btn-submit{
  background-color: white;
  border: 0;
  margin: 0;
}

#form-submit{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}