.task{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
}

.task-description{
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-description-completed{
  width: 70%;
  white-space: nowrap;
  text-decoration:line-through;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: line-through;
}


.task button{
  border: 0;
  background-color: white;
  cursor: pointer;
}


