.task-wrapper{
  width: 40em;
  display: flex;
  flex-direction: column;
  height: 48vh;
  overflow: scroll;
}

.task-actions{
  width: 40em;
  display: flex;
  align-items: center;
  margin: 0em 0em 1em 0em;
  justify-content: space-between;
}

.task-filters span{
  margin:0em 0.5em 0em 0.5em;
  color: darkgrey;
  cursor: pointer;
}

.task-filters span:hover{
  color: rgb(94, 94, 94);
  transition: 0.2s ease-in-out;
}

.task-handles button{
  background-color: brown;
  border: none;
  width: 6em;
  padding: 0.4em 0em;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
}

.no-tasks{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.6em 1em;
  border-radius: 5px;
  margin: 0.1em 0em;
  color: white;
  background-color:rgb(107, 184, 92);
  border: 2px solid transparent;
  transition: 0.1s ease-in-out;
}

.no-tasks-disabled{
  display: none;
}

.task-counter{
  display: flex;
  margin-top: 2em;
  display: block;
  text-align: right;
  color: darkgrey;
}

.task-counter-disabled{
  visibility: hidden;
}



 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 