.task-wrapper{
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 43.6vh;
  overflow: scroll;
}

.task-actions{
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0em 0em 1em 0em;
  justify-content: space-between;
}

.task-filters span{
  margin:0em 0.5em 0em 0.5em;
  color: darkgrey;
  cursor: pointer;
}

.task-filters span:hover{
  color: rgb(94, 94, 94);
  transition: 0.2s ease-in-out;
}

.task-handles button{
  background-color: brown;
  border: none;
  width: 6em;
  padding: 0.4em 0em;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
}

.no-tasks{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.6em 1em;
  border-radius: 5px;
  margin: 0.1em 0em;
  color: white;
  background-color:rgb(107, 184, 92);
  border: 2px solid transparent;
  transition: 0.1s ease-in-out;
}

.no-tasks-disabled{
  display: none;
}

.task-counter{
  display: flex;
  margin: 1em 0 1em 0;
  display: block;
  text-align: right;
  color: darkgrey;
}

.task-counter-disabled{
  visibility: hidden;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.541); 
}

.modal-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.modal-content {
  display: block;
  background-color: #fefefe;
  margin: 14% auto; /* 15% from the top and centered */
  padding: 30px;
  width: 50%; 
  border-radius: 10px;
}

#btn-edit{
  background-color: white;
  border: 0;
  margin: 0;
  margin: 0 0 0 0.6em;
  color:rgb(30, 115, 155);
}

#edit-task{
  height: 3em;
  width: 95%;
  outline: none;
  padding: 1em;
  border: 2px solid rgba(34, 34, 34, 0.267);
  font-size: 0.9em;
  border-radius: 10px;
  -webkit-user-select:text;
  user-select: text;
}

#form-edit{
  display: flex;
}